.game{
    width: 800px;
    height: 200px;
    border-bottom: 1px solid #000;
    margin: auto;
    background-image: url(img/city.jpg);
}
#spays{
    width: 50px;
    height: 50px;
    background-image: url(img/spays.png);
    background-size: 50px 50px;
    position: relative;
    top: 150px;
}
#house{
    width: 90px;
    height: 30px;
    background-image: url(img/house.png);
    background-size: 90px 30px;
    position: relative;
    top: 110px;
    left: 580px;
    animation: houseMov 1s infinite linear;
}
@keyframes houseMov {
    0%{left: 580px; }
    100% {left: -20px;}
   }
.jamp{
    animation: jamp 0.3s  linear;   
}
@keyframes jamp {
    0%{top: 90px; }
    30% {top: 80px;}
    50% {top:70px;}
    80% {top:80px;}
    100% {top: 90px;}
}